* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Mono', monospace;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

.flex {
  display: flex;
}

.my-2 {
  margin: 0 2rem;
}

.inline-block {
  display: inline-block;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.container {
  margin: 0 15rem;
}

/* Nav */
#nav {
  background: #eee;
  position: relative;
}

.logo {
  margin: 1.5rem 0;
}

.logo a {
  font-size: 3rem;
  letter-spacing: -8px;
  font-weight: bold;
  text-decoration: none;
  color: #00adb5;
  padding: 0 15px;
  border: 4px solid #00adb5;
}

.menu-link {
  margin: 0 2rem;
}

.menu-link a {
  color: #222831;
  font-weight: bold;
  text-decoration: none;
}

.menu-link a:hover,
logo:hover {
  color: #00adb5;
  transition: 0.15s ease-in-out;
}

/* Header */
#header {
  min-height: 800px;
  background-image: url('/assets/images/cubes.png');
}

.header {
  text-align: center;
  padding-top: 8%;
}

.header a {
  color: #222831;
}

.header a:hover {
  color: #00adb5;
  transition: 0.15s ease-in-out;
}

/* About */
#about {
  background: #eee;
  min-height: 800px;
}

.about {
  text-align: center;
  padding-top: 5%;
}

.about-body {
  margin-top: 4rem;
}

.image {
  /* width: 100%; */
  text-align: center;
  margin-top: 2rem;
}

.image img {
  /* border: 3px solid #00adb5; */
  width: 45%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.about-text h3 {
  padding: 5rem 0;
  position: relative;
  top: 4rem;
  line-height: 2.25rem;
}

/* Portfolio */
#portfolio {
  height: auto;
  background-image: url('/assets/images/cubes.png');
}

.portfolio {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio .portfolio-items {
  width: 15%;
  min-height: 300px;
  background: red;
  margin: 0 1rem;
  border-radius: 10px;
}

.portfolio-image {
  position: relative;
  height: 0;
  width: 100%;
  overflow: hidden;
  padding-top: 110%;
  border-radius: 10px;
}

.portfolio-image img {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
